.navbar {
  // background-color: #1d8cf8;
  display: flex;
  align-items: center;
  height: 105px;
  width: 100%;
  padding: 0px 5%;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  @media (max-width: 900px) {
    height: 70px;
    justify-content: space-between;
    gap: 0px;
  }

  &__logo {
    height: 6rem;
    filter: invert(1);
  }

  &__menu__icon {
    display: none;
    font-size: 3rem;
    color: white;
    cursor: pointer;

    @media (max-width: 1000px) {
      display: block;
    }
  }
}

//pc menu

.navbar__lists {
  display: flex;
  // justify-content: space-between;
  // width: 700px;
  @media (max-width: 1000px) {
    display: none;
  }
}

.navbar__list {
  list-style: none;
}

.navbar__links {
  text-decoration: none;
  padding: 5px 20px;
  font-size: 1.6rem;
  font-weight: 300;

  color: #ffffff;
  transition: all 0.3s;

  &:hover {
    color: rgb(29, 139, 246);
  }
}

.navbar__list--active {
  color: rgb(200, 0, 255);
  font-weight: 400;
}
